<%= form_for @products_order, :html => { multipart: true, class: "form-horizontal" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :product_id, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select(:product_id, @products, 
                  :id, :name, {:prompt => 'Please select product'}, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :quantity, size: 22, class: "form-control" %>
    </div>
  </div>
  
  <%= hidden_field_tag(:order_id, @order_id) %>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= f.submit title_sumbit, class: "btn btn-primary"%>
      <%= link_to 'Сancel', :back, class: "btn btn-default" %>
    </div>
  </div>

<% end %>

<div><%= button_to 'Back', :back, method: :get, class: "btn btn-default" %></div>
