<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div> <%= link_to root_path, id: "logo" do %>
        <span class="glyphicon glyphicon-ok"></span>
          electronics store
        <% end %>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="<%= yield(:products) %>"><%= link_to 'Products', root_path %></li>
        <li class="<%= yield(:delivery) %>"><%= link_to 'Delivery and payment', store_delivery_path %></li>
        <li class="<%= yield(:about) %>"><%= link_to 'About Us', store_about_path %></li>
        <li class="<%= yield(:contact) %>"><%= link_to 'Contact Us', store_contact_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right"> 
        
        <% if user_signed_in? %>

          <li class="name-user">
            <%= current_user.email %>
          </li>
          <% if @count_in_cart %>
            <li>
              <%= link_to store_cart_path(@cart) do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <%= "Cart: #{@count_in_cart}" %>
              <% end %>
            </li>
          <% end %>
          
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Edit account', edit_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", destroy_user_session_path,
                            method: "delete" %>
              </li>
            </ul>
          </li>
          <% if permitted_to? :index, :admins %>
            <li><%= link_to 'Admin panel', admins_path %></li>
          <% end %>
        <% else %>

          <li class="<%= yield(:sign_in) %>">
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
          <li class="<%= yield(:sign_up) %>">
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
           
        <% end %>
       </ul>
    </div>
  </div>
</nav>
