<% provide(:title, 'Cart') %>

<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="page-header">
        <h1>Cart</h1>
      </div>

      <% if @cart.products_orders.empty? %>
        <b>Cart empty.</b>
      <% else %>

        <%= button_to 'Buy', edit_delivery_path(@cart), method: :get, 
                      class: "btn btn-success btn-md" %>
        
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
             <tr class="warning">
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sum</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @cart.products_orders.each do |p| %>

                <tr class="info">
                  <td><%= p.product.name if p.product %></td>
                  <td>
                    <%= text_field_tag :quantity, p.quantity, size: 5,
                        class: 'quantity', id: p.id %>
                  </td>
                  <td><%= p.price %></td>
                  <td><%= p.quantity * p.price %></td>
                  <td>
                    <%= button_to 'Delete from Ñart', products_order_path(p),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: "btn btn-primary btn-xs" %>
                  </td>
                </tr>

              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <p>Total sum: <span id="cart-totalsum"><%= @cart.total_sum %></span></p>
      
      <p>
        <%= button_to 'Back', :back, method: :get, class: "btn btn-default" %>
      </p>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".quantity").change(function() {
      var quantity = $(this).val();
      var price = parseFloat($(this).parent().next().text());
      var el_sum = $(this).parent().next().next();
      var el_totalsum = $("#cart-totalsum");
      var total_sum = parseFloat(el_totalsum.text()) - parseFloat(el_sum.text());

      if (quantity <= 0) {
        quantity = 1;
        $(this).val(quantity);
      }

      var sum = (price * quantity).toFixed(2);

      el_sum.text(sum);
      total_sum = (total_sum + parseFloat(sum)).toFixed(2);
      el_totalsum.text(total_sum);
      $.ajax({
             url: "/store/cart/update_quantity",
             type: "POST",
             data: {id: $(this).attr('id'), quantity: quantity, total_sum: total_sum}
      });
    });
  });
</script>
